*,
:after,
:before {
    box-sizing: border-box;
}

html {
    tab-size: 4;
}

body {
    font-family: sans-serif;
    margin: 0;
}

hr {
    color: inherit;
    height: 0;
}

b,
strong {
    font-weight: bolder;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

table {
    border-color: inherit;
    text-indent: 0;
}

button,
select {
    text-transform: none;
}

::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

summary {
    display: list-item;
}

.header .inner:after,
.header .inner:before,
.s-clearfix:after,
.s-clearfix:before {
    content: " ";
    display: table;
}

.header .inner:after,
.s-clearfix:after {
    clear: both;
}

.ButtonIcon.hide-text,
.NavMobileHamburger,
.s-tr {
    border: 0;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
}

.polygon {
    pointer-events: none;
}

body {
    font-family: sans-serif;
    letter-spacing: 0.2px;
}

body {
    color: #e6e6e6;
    font-size: 16px;
    line-height: 1;
}

button {
    cursor: pointer;
    font-family: inherit;
}

video {
    width: 100%;
}

img.lazyload {
    opacity: 1;
}

nav ul {
    margin: 0;
}

nav a {
    display: inline-block;
    text-decoration: none;
}

strong {
    font-weight: 600;
}

ol {
    padding-left: 20px;
}

hr {
    background: #8a8a8a;
    border: 0;
    height: 1px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 16px;
}

.s-unspace {
    margin: 0;
    padding: 0;
}

.s-vp-md {
    padding-bottom: 20px;
    padding-top: 20px;
}

.s-vp-lg {
    padding-bottom: 30px;
    padding-top: 30px;
}

.s-vp-xl {
    padding-bottom: 40px;
    padding-top: 40px;
}

.s-vp-top-lg {
    padding-top: 30px;
}

.wraps {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

@media only screen and (min-width: 568px) {
    .wraps {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.wraps-thin {
    max-width: 600px;
}

.NavMobileHamburger,
.s-tr {
    background-size: 100%;
}

.s-hidden {
    display: none !important;
}

.s-center {
    text-align: center;
}

.s-smaller {
    font-size: 80%;
}

.s-right {
    float: right;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.s-vflex,
.outer-flex,
body {
    display: box;
    display: flex;
    flex-direction: column;
}

.inner-flex,
.outer-flex {
    box-flex: 1;
    flex: 1 1 auto;
}

#blm a,
.Button {
    text-decoration: none;
}

.Button {
    background: #c94f17;
    border: none;
    border-radius: 40px;
    color: #fff;
    display: block;
    line-height: 1.25;
    padding: 20px;
    text-align: center;
}

.ButtonMega {
    max-width: 60%;
}

.Button:hover {
    background: #e7682e;
    color: #fff;
}

.Button.disabled,
.Button[disabled] {
    background: #8a8a8a;
    color: #e6e6ee;
    cursor: not-allowed;
}

.Button+.Button {
    margin-top: 10px;
}

@media only screen and (min-width: 568px) {
    .Button {
        display: inline-block;
    }
    .Button+.Button {
        margin-left: 5px;
        margin-top: 0;
    }
}

.ButtonRed {
    background: #c02d28;
}

.ButtonRed:hover {
    background: #d43530;
    cursor: pointer;
}

.Buttoncolor:hover {
    background: #d43530;
}

.ButtonGray {
    background: #3e3e3e;
}

.ButtonGray:hover {
    background: #515151;
}

.ButtonYellow {
    background: #f09e14;
    color: rgba(0, 0, 0, 0.75);
}

.ButtonYellow:hover {
    background: #f2a82b;
    color: rgba(0, 0, 0, 0.75);
}

.ButtonSmall {
    font-size: 14px;
    padding: 10px 20px;
}

.ButtonLarge {
    font-size: 19px;
    padding: 20px 30px;
}

.ButtonIcon:before {
    content: "";
    display: inline-block;
    filter: alpha(opacity=60);
    height: 18px;
    margin-right: 5px;
    opacity: 0.6;
    vertical-align: middle;
    width: 18px;
}

.ButtonIcon:hover:before {
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.ButtonIcon.hide-text {
    padding: 10px;
}

.ButtonIcon.hide-text:before {
    margin-right: 0;
}

.ButtonIcon.bookmark:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTE4IDI0LTYtNS4zTDYgMjRWMGgxMnoiLz48L3N2Zz4=);
}

.FooterMain {
    background: #111;
    color: #8a8a8a;
    font-size: 14px;
    padding: 40px 0;
}

.FooterMain .row {
    clear: both;
    margin: 10px 0;
    overflow: hidden;
}

.FooterMain .row:first-child {
    margin-top: 0;
}

.FooterMain .NavFooter {
    font-size: 16px;
}

.FooterMain .contact a,
.FooterMain .copyright a {
    text-decoration: none;
}

.FooterMain .contact a:hover,
.FooterMain .copyright a:hover {
    text-decoration: underline;
}

.FooterMain .contact a {
    display: inline-block;
}

.FooterMain .contact span {
    display: block;
}

.FooterMain .copyright a {
    color: #8a8a8a;
}

.FooterMain .social {
    margin: 20px 0;
}

.FooterMain .social a {
    display: inline-block;
    height: 35px;
    margin-left: 10px;
    width: 35px;
}

.FooterMain .social a:first-child {
    margin-left: 0;
}

.FooterMain .logos {
    display: inline-block;
}

.FooterMain .NavMobileHamburger {
    float: right;
}

#login:hover {
    cursor: pointer;
}

.FooterMain .NavFooter {
    clear: both;
}

@media only screen and (min-width: 768px) {
    .FooterMain .logos {
        float: none;
        margin: 0 20px 6px 0;
    }
    .FooterMain .NavFooter {
        clear: none;
        display: inline-block;
        vertical-align: bottom;
    }
    .FooterMain .app-links {
        text-align: center;
    }
    .FooterMain .contact,
    .FooterMain .copyright {
        float: right;
    }
    .FooterMain .contact {
        margin-top: 20px;
    }
    .FooterMain .contact span {
        display: inline;
        margin-left: 10px;
    }
    .FooterMain .contact span:first-child {
        margin-left: 0;
    }
    .FooterMain .social {
        margin: 0;
    }
}

.header {
    background: linear-gradient(90deg, #270201, #4b382f);
    color: #858585;
    position: relative;
    z-index: 99;
}

.header .inner {
    padding: 10px 0;
}

.header .logos {
    float: left;
}

.header .NavMobileHamburger {
    float: right;
    position: relative;
    z-index: 5;
}

.header .NavMain {
    clear: both;
}

.header .polygon {
    fill: #f5f1f0;
    height: 24px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
}

@media only screen and (min-width: 568px) {
    .header .logos {
        float: none;
    }
    .header .NavMain {
        margin-top: 10px;
    }
}

@media only screen and (min-width: 900px) {
    .header .logos {
        float: left;
    }
    .header .NavMain {
        clear: none;
        float: right;
        margin-top: 0;
    }
    .header .NavMain .item {
        line-height: 50px;
    }
}

.logos {
    margin: 0;
}

.logos a {
    background-image: url(https://static.frontendmasters.com/assets/fm/js/frontendmasters.e1e10b58c1.svg);
    display: block;
    height: 40px;
    margin-top: 5px;
    width: 250px;
}

.MessageArea {
    margin: 10px 0 0;
    padding: 0;
}

.MessageArea .Message {
    margin: 5px 0;
    padding: 10px;
}

.Message {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #8a8a8a;
    border-radius: 5px;
    margin: 20px 0;
    padding: 5px 10px;
}

.MessageAlert {
    border-color: #e66225;
    color: #e66225;
}

.MessageHeader {
    color: #e66225;
}

.Nav a {
    color: rgb(231, 219, 219);
    line-height: 40px;
    padding-left: 10px;
    font-family: sans-serif;
}

.Nav a,
.Nav a:hover {
    transition: color 0.2s;
}

.Nav a:hover {
    color: #fff;
}

.Nav .Button {
    color: white;
    margin: 10px 0;
    padding: 0 20px;
    background-color: #c02d28;
}

.Nav .active {
    font-weight: 600;
}

.Nav .active a {
    color: #e6e6e6;
}

@media only screen and (min-width: 568px) {
    .Nav a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .Nav li {
        display: inline-block;
    }
    .Nav li:first-child {
        margin-left: 0;
    }
    .Nav .Button {
        margin: 0 0 0 10px;
    }
}