<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Frontend-Masters</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="home2.css">
    <link rel="stylesheet" href="lay.css">
</head>

<body>
    <div class="outer-flex">
        <div class="inner-flex">
            <!-- header starts from here -->
            <header class="header">
                <div class="inner">
                    <div class="wraps">
                        <div class="logos"><a class="s-tr" href="index.html">FrontendMasters</a></div><label class="NavMobileHamburger" for="open-nav-main">Menu</label>
                        <nav class="Nav NavMobile NavMain"><input class="toggle-target" id="open-nav-main" type="checkbox">
                            <ul>
                                <li class="items"><a href="courses">Courses</a></li>
                                <li class="items"><a href="learn">Learn</a></li>
                                <li class="items"><a href="register">Pricing</a></li>
                                <li class="items"><a onclick="login()" id="login" href="login">Login</a></li>
                                <li class="items"><a onclick="signup()" class="Button ButtonRed" href="register">Join Now</a></li>
                            </ul>
                        </nav>
                    </div>
                </div><svg class="polygon" viewbox="0 0 100 10" preserveaspectratio="none"><defs><linearGradient id="linear" x1="0%" y1="0%" x2="100%" y2="0%"><stop offset="0%" stop-color="#c02d28"></stop><stop offset="100%" stop-color="#e66225"></stop></linearGradient></defs><polygon points="0,2 0,0 100,0 100,10" fill="url(#linear)"></polygon></svg></header>
            <!-- header Ends here -->
            <div id="after-header"></div>
            <main id="main-content" role="main">
                <div class="livestream-cta"></div>
                <section class="HomeHero">
                    <div class="content">
                        <div class="wraps s-vp-xl">
                            <h1><strong>Advance Your Skills</strong> <span>with In-Depth, Modern</span> <span>Front-End Engineering Courses</span></h1><a class="Button ButtonLarge ButtonRed" href="courses.html">Browse Our Courses</a> <a class="Button ButtonLarge Buttoncolor"
                                href="courses.html">View Learning Paths</a></div>
                    </div><video class="background" playsinline="" autoplay="" muted="" loop=""><source src="https://static.frontendmasters.com/assets/fm/med/home/hero.mp4" type="video/mp4"></video>
                </section>

                <section class="HomeLogos s-vp-lg"><svg style="height: 60px" class="polygon" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 10" preserveaspectratio="none"><polygon points="0,8 0,10 100,10 100,3"></polygon></svg>
                    <div class="wraps">
                        <a class="javascript s-tr">JavaScript</a>
                        <a class="nodejs s-tr">Node.js</a>
                        <a class="react s-tr">React</a>
                        <a class="vuejs s-tr">Vue.js</a>
                        <a class="angular s-tr">Angular</a>
                        <a class="css3 s-tr">CSS3</a>
                        <a class="webpack s-tr">Webpack</a>
                    </div>
                </section>
                <!--USER REVIEW FROM TWITTER HANDLES START-->


                <section class="HomeTweets s-vp-lg">
                    <a class="left" onclick="nextSlide(-1)">❮</a>
                    <div class="wraps">
                        <h2>What They're Saying About Us (<a href="#" target="_blank" rel="noopener">@FrontendMasters</a>)</h2>
                        <span class="js_next next"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewbox=""><g><path d=""></path></g></svg></span>
                        <div class="frame js_frame">
                            <div class="tweet">
                                <div class="slidercontainer">
                                    <div class="showSlide fade">
                                        <img src="img/c1.png" />
                                    </div>
                                    <div class="showSlide fade">
                                        <img src="img/c2.png" />
                                    </div>

                                    <div class="showSlide fade">
                                        <img src="img/c3.png" />
                                    </div>
                                    <div class="showSlide fade">
                                        <img src="img/c4.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="right" onclick="nextSlide(1)">❯</a>
                </section>

                <!--TWITTER REVIEWS FROM USER ENDS HERE-->

                <!--Join now section below twitter reviews Starts-->
                <section class="HomeCta lazyloaded" data-loaded="true">
                    <div class="s-wrap s-wrap-thin">
                        <h1>Join Now and Learn Straight</h1>
                        <h1>from the Experts Who Shape</h1>
                        <h1>the Modern Web</h1>
                        <a class="Button ButtonMega s-vm-md" href="/join/">
                            <div class="main">Join Now</div>
                        </a>
                    </div>
                </section>
                <!--Join now section below twitter reviews ENDS-->

            </main>
            </div>
            <footer role="contentinfo" class="FooterMain">
                <div class="wraps">
                    <div class="row">
                        <div class="logos"><a class="s-tr" href="/">FrontendMasters</a></div>

                        <nav class="Nav NawvMobile NavFooter">

                            <ul>
                                <li class="items"><a href="#">Courses</a></li>
                                <li class="items"><a href="#">Learn</a></li>
                                <li class="items"><a href="#">Teachers</a></li>
                                <li class="items"><a href="#">Guides</a></li>
                                <li class="items"><a href="#">Pricing</a></li>
                                <li class="items"><a onclick="login()">Login</a></li>
                                <li class="items"><a onclick="signup()">Join Now</a></li>
                                <li class="items"><a href="#">FAQ</a></li>
                            </ul>
                        </nav>


                        <div class="app">
                            <img src="https://developer.apple.com/assets/elements/icons/download-on-the-app-store/download-on-the-app-store.svg" width="150px" height="70px">
                            <a id="" class="Android"></a> <img class="app" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" height="65">

                            </a>

                        </div>


                        <div class="twitter">
                            <img src="https://image.flaticon.com/icons/png/128/733/733579.png" width="40px" height="40px" class="imageGap">
                            <img src="https://image.flaticon.com/icons/png/128/174/174857.png" width="40px" height="40px" class="imageGap">
                            <img src="https://image.flaticon.com/icons/png/128/733/733547.png" width="40px" height="40px" class="imageGap">
                            <img src="https://image.flaticon.com/icons/png/128/1409/1409946.png" width="40px" height="40px" class="imageGap">
                            <p class="email">Email: <a href="">support@frontendmasters.com</a></p>

                        </div>
                        <div class="copyright">© 2021 Frontend Masters &middot;
                            <a href="https://static.frontendmasters.com/assets/legal/MasterServicesAgreement.pdf">Terms of
                        Service</a> &middot; <a href="https://static.frontendmasters.com/assets/legal/PrivacyPolicy.pdf">Privacy Policy</a>

                        </div>
                        <div class="end1">Frontend Masters is proudly made in Minneapolis, MN</div>


                    </div>
                </div>
        </div>

        </footer>
    </div>
</body>

</html>

<script src="index.js">
</script>
</script>